body {
    background-color: #f2f3f5;
    font-family: "Bree serif", sans-serif;
}

.painel h1 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 50px;
}

.painel {
    background-color: #ffffff;
    margin: 30px 30px 30px 30px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #adadad;
    position: absolute;
    width: 87%;
}

#content {
    display: flex;
    flex-direction: column;
}

#content > div > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 1rem;
}

#content > div > div:last-child {
    margin-right: 0;
}

.cliente,
.linha1,
.linha2 {
    display: flex;
    width: 100%;
}

.user-details input {
    height: 45px;
    padding: 0.2rem;
    border: 1px solid #adadad;
    border-radius: 5px;
    box-shadow: 1.8px 1.8px 1.8px rgba(0, 0, 0, 0.2);
    margin: 18px 0 15px 0;
}

.navbar {
    flex-direction: column;
    flex-grow: 1;
    margin: 30px;
}

.orcamento {
    margin-right: 30px;
}

.sobre-nos,
.orcamento {
    width: 150px;
    height: 50px;
}

.txtnav {
    font-size: 16px;
    margin: auto;
}

.navbar > img {
    max-width: 250px;
    max-height: 200px;
    width: auto;
    height: auto;
}

hr {
    border-radius: 10px;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 30px;
    color: #DCDDE0;
}

button {
    background-color: #d76868;

    height: 40px;
    width: 130px;

    border-radius: 8px;
    border: none;
    box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);

    margin: 30px 0;
    float: right;
}

button p {
    font-family: "Bree serif", sans-serif;
    font-size: 0.93rem;
    line-height: 38.02px;
    color: #ffffff;
    margin: auto;
}
