/* Abaixo segue a estilização da página inicial */
body {
    background-color: #f2f3f5;
}

.navbar {
    flex-direction: column;
    flex-grow: 1;
    margin: 30px;
}

.orcamento {
    margin-right: 30px;
}

.sobre-nos,
.orcamento {
    width: 150px;
    height: 50px;
}

.navbar > a > img {
    max-width: 250px;
    max-height: 200px;
    width: auto;
    height: auto;
}

hr {
    border-radius: 10px;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 30px;
    color: #DCDDE0;
}

/* .content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    padding: 30px;
}

.corpoHomeEventos > img,
.corpoHomeDicas > img {
    max-width: 300px;
    max-height: 250px;
    width: auto;
    height: auto;
    position: relative;
    margin-right: 86px;
}

.corpoHomeEventos p,
.corpoHomeDicas p {
    font-family: "Inter", sans-serif;
    text-align: justify;
    margin-left: 0;
}

.corpoHomeEventos h1,
.corpoHomeDicas h1 {
    font-family: "Bree serif", sans-serif;
    margin-top: 28px;
    margin-bottom: 28px;
}

.corpoHomeEventos, .corpoHomeDicas {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.text-container {
    width: 50%;
    height: 50%;
    position: relative;
}

#eventos, #dicas {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */

#corpo {
    display: grid;
    place-items: center;

    margin-top: 20vh;
}

#items-wrapper {
    /* margin-left: 150px;
    align-items: center; */
    width: 40vw;
}


#items {
    display: flex;
    overflow-x: auto;
}

.item {
    flex: none;
}

img {
    height: 300px;
    width: 497px;
}

button {
    background-color: #d76868;

    height: 40px;
    width: 130px;

    border-radius: 8px;
    border: none;
    box-shadow: 1.8px 1.8px 1.8px rgba(0, 0, 0, 0.2);

    margin: 30px 0;
    float: right;
}

button p {
    font-family: "Bree serif", sans-serif;
    font-size: 0.97rem;
    line-height: 38.02px;
    color: #ffffff;
    margin: auto;
}

a {
    text-decoration: none;
    font-family: "Bree serif", sans-serif;
    font-size: 0.97rem;
    line-height: 38.02px;
    color: #ffffff;
    margin: auto;
}
